{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <title>Hello</title>
</head>
<body>
    <form class="container" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" accept="image/*" name="object" id="object">
	    <label for="object" class="label-button"><i class="far fa-image"></i> Browse</label>

        <button type="submit"><i class="fa fa-upload"></i> Upload</button>
        <label class="label-button" id="clear-image"><i class="fas fa-trash-alt"></i> Empty</label>
        <input type="hidden" id="model" name="model" value="coco">

        <div id="wrap-config">
            <input type="number" id="config" name="config" min="0" max="1" step="0.01" value="0.4">
            <label for="coco"><input type="radio" name="model" onclick="handleClick(this)" value="coco" checked="true"> Coco</label>
            <label for="fruits"><input type="radio" name="model" onclick="handleClick(this);" value="fruits"> Fruits</label>
        </div>
    </form>
    <div class="preview">
        <img src="{{ path }}" class="image-preview">
    </div>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>